.card-row {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border: solid 1px;
}

.card-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
